body {
    margin: 0;
    font-family: 'Cabin', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Trispace', sans-serif;
}

.header {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.377), rgba(0, 128, 0, 0.521)), url(images/donation13.jpg);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: x-large;
    padding: 150px 250px;
    color: white;
    margin-bottom: 0;
}

.donate-now {
    padding: 15px 25px;
    background-color: rgb(204, 24, 24);
    border-radius: 10px;
    margin: 30px 0;
    color: white;
    font-size: 15px;
}

.donate-today {
    text-align: center;
    margin-top: 0;
    padding-right: 250px;
    padding-left: 250px;
}

.amount {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.fixed-amount {
    padding: 30px;
    margin: 10px;
    background-color: antiquewhite;
    font-size: x-large;
}

#active-amount {
    border: 2px solid black;
    background-color: brown;
}

.others-amount {
    border: none;
    font-size: medium;
    margin-left: 70px;
}

.donate-plan {
    text-align: center;
}

.plan-details {
    display: flex;
    margin: 50px;
    text-align: left;
}

#icon {
    width: 50px;
}

.family {
    background-color: aquamarine;
    margin-left: 50px;
    padding: 20px;
}

.shelter {
    background-color: bisque;
    margin: 0 25px;
    padding: 30px;
}

.medicine {
    background-color: darkkhaki;
    margin-right: 50px;
    padding: 30px;
}

.update-bar {
    text-align: center;
}

.email-sub {
    padding: 100px;
    background-color: rgb(241, 178, 157);
    margin: 40px 300px;

}

.email {
    background-color: rgb(229, 234, 238);
    padding: 15px 100px;
    border: none;
    border-radius: 10px 0 0 10px;
}

.subscribe {
    background-color: rgb(236, 73, 14);
    padding: 15px 60px;
    margin-left: -15px;
    border: none;
    border-radius: 0 10px 10px 0;
}